*{
    padding: 0;
    margin: 0;
}

#nav-bar{
    height: 30px;
    background-color: #0f1111;
    color: white;
    border: 5px solid green;
    padding-top: 5px;
    /*margin-right: 30px;*/
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
}
a{
    padding-top: 40px;
    margin-right: 200px;
    text-decoration: none;
}
input{
    margin-left: 50px;
}
#content-area{
    height: 540px;

}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    padding: 25px;
    margin-right: 5px;
    text-align: center;
}
#box1{
    background-color: rgb(255, 50, 190, 0.5);
}
#box2{
    background-color: rgb(50, 255, 190, 0.5);
}
#box3{
    background-color: rgb(50, 190, 255, 0.5);
}
footer{
    color: white;
    background-color: #0f1111;
    text-align: center;
    height: 30px;
}
